/* You can add global styles to this file, and also import other style files */
.MyBtn{margin: 30px;}
.card-content{background-color:#FAFAFA;}
.card-content label{font-weight:bold;font-size:20px;}
::-webkit-input-placeholder { /* Edge */
    color:#000000;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: #000000;
  }
  
  ::placeholder {
    color: #000000;
  }

  input.ng-invalid.ng-dirty
    {
        border-bottom-color: #ff0000;
        box-shadow: 0px 2px 0px 0px #ff0000;
    }
  
table tr td,table tr th{text-align:center;}